.profile{
    display: flex;
    float: right;
    padding: 2vh;
    border-radius: 75%;
}

.adopt-btn{
    display: flex;
    justify-content: center;
}

.btn1 {
    position: absolute;
    top: 30%;
}

.add-btn{
    display: flex;
    justify-content: center;
}

.btn2 {
    position: absolute;
    top: 60%;
}